<div class="form-group field">
  <%= form_with(model: @event, remote: true) do |form| %>
    <div class="form-inputs">
      <div class="form-group">
        <%= form.label :title, class: "form-control-label"%>
        <%= form.select :title, [['ミルク'], ['母乳'], ['おしっこ'], ['うんち'], ['寝る'], ['起きる']], { selected: event.title }, { class: "form-control" } %>

      </div>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
          <%= form.text_field :start, class: "form-control input-start start_hidden", data: { target: "#datetimepicker7"} %>
          <div class="input-group-append" data-target="#datetimepicker7" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
          <%= form.text_field :end, class: "form-control input-end end_hidden", data: { target: "#datetimepicker8"} %>
          <div class="input-group-append" data-target="#datetimepicker8" data-toggle="datetimepicker">
            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
          </div>
        </div>
      </div>
    </div>

    <img src="https://img.icons8.com/plasticine/100/000000/milk-bottle.png"/>


    <div class="modal-footer actions">
      <%= form.submit "入力完了", class: "btn btn-primary" %>
      <%= link_to 'Delete',
                  event,
                  method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: '削除してもよろしいですか?' },
                  remote: true unless @event.new_record? %>
    </div>
  <% end %>
</div>
