<div class="form-group field">
  <%= form_with(model: @event, remote: true) do |form| %>
    <div class="form-inputs">
      <div class="form-group">
        <%= form.label :icon, "お世話内容", class: "form-control-label"%>
        <%= form.select :icon, [['ミルク', 'milk.png'], ['母乳', 'breastfeeding.png'], ['おしっこ', 'pee.png'], ['うんち', 'poo.png'], ['寝る', 'sleep.png'], ['起きる', 'wake-up.png']], { selected: event.icon }, { class: "form-control input-icon" } %>
      </div>

      <div class="form-group">
        <%= form.label :color, "色", class: "form-control-label"%>
        <%= form.select :color, [['グレー', 'gray'], ['緑', 'teal'], ['オレンジ','orange']], { selected: '緑'  }, { class: "form-control" } %>
      </div>

      <div class="form-group">
        <%= form.label :start, "開始時間", class: "form-control-label"%>
        <div class="input-group date" id="datetimepicker7" data-target-input="nearest">
          <%= form.text_field :start, class: "form-control input-start", id: "datetimepicker7", data: { target: "#datetimepicker7", toggle: "datetimepicker" } %>
        </div>
      </div>

      <div class="form-group"> 
        <%= form.label :end, "終了時間", class: "form-control-label"%>
        <div class="input-group date" id="datetimepicker8" data-target-input="nearest">
          <%= form.text_field :end, class: "form-control input-end", id: "datetimepicker8", data: { target: "#datetimepicker8", toggle: "datetimepicker" } %>
        </div>
      </div>
    </div>
    <div class="modal-footer actions">
      <%= form.submit "入力完了", class: "btn btn-primary" %>
      <%= link_to '削除',
                  event,
                  method: :delete,
                  class: 'btn btn-danger',
                  data: { confirm: '削除してもよろしいですか?' },
                  remote: true unless @event.new_record? %>
    </div>
  <% end %>
</div>
